<div class="container" data-ng-controller="confirmController" ng-init="confirm()">
    <div class="col-md-6 col-md-offset-3" style="margin-top:150px;margin-bottom:300px" bs-loading-overlay>
        <div ng-show="confirmed">
            <hr />
            <h4>Set Your Password</h4>
            <form name="form" id="form" role="form" autocomplete="off" method="post">
                <input type="hidden" name="token" ng-value="{{token}}" ng-model="user.confirmationToken" />
                <div class="form-group input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    <input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" name="password" type="password" id="password" placeholder="Password" ng-model="user.password" class="form-control" required />
                    <span class="glyphicon" aria-hidden="true"></span>
                </div>
                <div class="form-group input-group has-feedback">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    <input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="password" class="form-control" id="signup-password-confirm" placeholder="Confirm Password" name="ConfirmPassword" ng-model="user.confirmPassword"/>
                </div>
                <span ng-show="user.password != user.confirmPassword" class="help-block" style="color:red">Passwords must match.</span>
                <span ng-show="passwordNotStrongEnough" class="help-block" style="color:red">Password is not strong enough.</span>
                <button type="submit"
                        class="btn btn-primary block full-width m-b" ng-click="savePassword()" ng-disabled="user.password != user.confirmPassword">Save
                </button>
            </form>
        </div>
        <div ng-hide="confirmed">
            <h4>Confirmation Failed</h4>
            <p>Token validation has failed</p>
        </div>
    </div>
</div>
<script type="text/ng-template" id="saveAlert">
    <div class="modal-body" style="padding:0px">
        <div class="alert alert-{{alertData.mode}}" style="margin-bottom:0px">
            <button type="button" class="close" data-ng-click="close()" >
                <span class="glyphicon glyphicon-remove-circle"></span>
            </button>
            <strong>{{alertData.boldTextTitle}}</strong> {{alertData.textAlert}}
        </div>
    </div>
</script>