<div class="container" data-ng-controller="passwordReset">
    <div class="col-md-6 col-md-offset-3" style="margin-top:150px;margin-bottom:300px" bs-loading-overlay>
        <div ng-hide="isReset">
            <hr />
            <h4>Reset Your Password</h4>
            <form name="form" id="form" role="form" autocomplete="off" method="post">
                <div class="form-group input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </span>
                    <input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" name="email" type="email" id="email" placeholder="Password" ng-model="email" class="form-control" required />
                    <span class="glyphicon" aria-hidden="true"></span>
                </div>
                <button type="submit"
                        class="btn btn-primary block full-width m-b" ng-click="reset()">Save
                </button>
            </form>
        </div>
        <div ng-show="isReset">
            <h4>Success!</h4>
            <p>Please click the link in your email to continue resetting your password.</p>
        </div>
    </div>
</div>