<div data-ng-controller="myMovesController" class="container" style="margin-top:150px;margin-bottom:150px" ng-init="init()">
    <div class="alert alert-danger" role="alert" ng-hide="creditCardSet">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <a href="#/profile" style="color: red;">Set your credit card information</a>
    </div>
    <div class="alert alert-danger" role="alert" ng-show="firstMoveNeedsInfo">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <a href="#/editMyMove/{{moves[0].id}}" style="color: red;">Add move information</a>
    </div>
    <div class="row" st-table="myMoves" st-pipe="callServer">
        <div class="col-xs-12">
            <h2>My Moves</h2>
            <div id="itemsPerPageDropdownDiv" class="btn-group pull-right" uib-dropdown is-open="status.isopen">
                <button id="itemsPerPageDropdown" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">{{itemsByPage}} <span class="caret"></span></button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="itemsPerPageDropdown" ng-model="itemsByPage">
                    <li role="menuitem" ng-click="selectItem(10)"><a href="">10</a></li>
                    <li role="menuitem" ng-click="selectItem(25)"><a href="">25</a></li>
                    <!--<li role="menuitem" ng-click="selectItem(50)"><a href="" disabled>50</a></li>-->
                    <!--<li role="menuitem" ng-click="selectItem(100)"><a href="" disabled>100</a></li>-->
                </ul>
            </div>
            <div class="col-md-4 pull-right ">
                <div class="form-group has-feedback">
                    <input st-search="globalSearch" placeholder="Search this table..." class="input-sm form-control" type="search"/>
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>From Address</th>
                    <th>To Address</th>
                    <th st-sort="moveStart" st-sort-default="reverse">Date of Move</th>
                    <th>Status</th>
                    <th>Edit Move</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>
                        <select class="form-control" st-search="statusSearch" st-input-event="change">
                            <option value="">All</option>
                            <option value="open">Open</option>
                            <option value="confirmed">Confirmed</option>
                            <option value="closed">Closed</option>
                        </select>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody ng-hide="isLoading">
                <tr ng-repeat="move in moves">
                    <td>{{move.fromStreet}} {{move.fromCity}}, {{move.fromState}} {{move.fromZip}}</td>
                    <td>{{move.toStreet}} {{move.toCity}}, {{move.toState}} {{move.toZip}}</td>
                    <td>{{move.startsAt | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                    <td>{{move.status}}</td>
                    <td><a type="button" class="btn btn-primary" href="/#/editMyMove/{{move.id}}">Edit</a></td>
                </tr>
                </tbody>
                <tbody ng-show="isLoading">
                <tr>
                    <td colspan="5" class="text-center">
                        <div class="loading-indicator">
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tbody ng-show="isError">
                <tr>
                    <td colspan="5" class="text-center">
                        <div class="loading-indicator">
                            <i class="fa fa-exclamation" aria-hidden="true"></i>
                            <strong> Error Loading Data.  Please Refresh the Page.</strong>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tbody ng-show="noResultsFound">
                <tr>
                    <td colspan="5" class="text-center">
                        <i class="fa fa-exclamation" aria-hidden="true"></i>
                        <strong> No Results Found.  Please Refine Search.</strong>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>