<div data-ng-controller="bookedMoveController as vm" ng-init="init()" bs-loading-overlay>
	<div class="row" st-table="moves" st-pipe="callServer" ng-hide="isCalendar">
      	<div class="col-xs-12">
			<h2>Booked Moves</h2>
			<a ng-click="changeView()">{{bookedMovesView}}</a>
			<div id="itemsPerPageDropdownDiv" class="btn-group pull-right" uib-dropdown is-open="status.isopen">
					<button id="itemsPerPageDropdown" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">{{itemsByPage}} <span class="caret"></span></button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="itemsPerPageDropdown" ng-model="itemsByPage">
					      <li role="menuitem" ng-click="selectItem(10)"><a href="">10</a></li>
					      <li role="menuitem" ng-click="selectItem(25)"><a href="">25</a></li>
					      <!--<li role="menuitem" ng-click="selectItem(50)"><a href="" disabled>50</a></li>-->
						<!--<li role="menuitem" ng-click="selectItem(100)"><a href="" disabled>100</a></li>-->
					</ul>
				</div>			
			<div class="col-md-4 pull-right ">
				<div class="form-group has-feedback">
					<input st-search="globalSearch" placeholder="Search this table..." class="input-sm form-control" type="search"/>
		    		<span class="glyphicon glyphicon-search form-control-feedback"></span>
				</div>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Customer Name</th>
						<th st-sort="moveStart">Date Of Move</th>
						<th>Status</th>
						<th st-sort="dateOfBooking" st-sort-default="reverse">Date Booked</th>
						<th>Actions</th>
					</tr>
					<tr>
						<th></th>
						<th></th>
						<th>
							<select class="form-control" st-search="statusSearch" st-input-event="change">
								<option value="">All</option>
								<option value="unconfirmed user">Unconfirmed User</option>
								<option value="unconfirmed move">Unconfirmed Move</option>
								<option value="confirmed move">Confirmed Move</option>
								<option value="closed">Closed</option>
							</select>
						</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody ng-hide="isLoading">
					<tr ng-repeat="move in moves">
						<td>{{move.title}}</td>
						<td>{{move.startsAt | date:'MM/dd/yyyy'}}</td>
						<td>{{move.status}}</td>
						<td>{{move.dateOfBooking | date:'MM/dd/yyyy'}}</td>
						<td><a type="button" class="btn btn-primary" href="/#/editMove/{{move.id}}">Edit</a></td>
					</tr>
				</tbody>
				<tbody ng-show="isLoading">
					<tr>
						<td colspan="5" class="text-center">
							<div class="loading-indicator">
								<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
							</div>
						</td>
					</tr>
				</tbody>
				<tbody ng-show="isError">
					<tr>
						<td colspan="5" class="text-center">
							<div class="loading-indicator">
								<i class="fa fa-exclamation" aria-hidden="true"></i>
								<strong> Error Loading Data.  Please Refresh the Page.</strong>
							</div>
						</td>
					</tr>
				</tbody>
				<tbody ng-show="noResultsFound">
					<tr>
						<td colspan="5" class="text-center">
							<i class="fa fa-exclamation" aria-hidden="true"></i>
							<strong> No Results Found.  Please Refine Search.</strong>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5" class="text-center">
							<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<div ng-show="isCalendar">
		<h2>Booked Moves</h2>
		<a ng-click="changeView()">{{bookedMovesView}}</a>

		<h2 class="text-center">{{ vm.calendarTitle }}</h2>

		<div class="row">

			<div class="col-md-6 text-center">
				<div class="btn-group">

					<button
							class="btn btn-primary"
							mwl-date-modifier
							date="vm.viewDate"
							decrement="vm.calendarView"
							ng-click="vm.cellIsOpen = false;calenderViewChange();">
						Previous
					</button>
					<button
							class="btn btn-default"
							mwl-date-modifier
							date="vm.viewDate"
							set-to-today
							ng-click="vm.cellIsOpen = false;calenderViewChange();">
						Today
					</button>
					<button
							class="btn btn-primary"
							mwl-date-modifier
							date="vm.viewDate"
							increment="vm.calendarView"
							ng-click="vm.cellIsOpen = false;calenderViewChange();">
						Next
					</button>
				</div>
			</div>

			<br class="visible-xs visible-sm">

			<div class="col-md-6 text-center">
				<div class="btn-group">
					<label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
					<label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
					<label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
					<label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label>
				</div>
			</div>

		</div>

		<br>

		<mwl-calendar
				events="events"
				view="vm.calendarView"
				view-title="vm.calendarTitle"
				view-date="vm.viewDate"
				on-event-click="vm.eventClicked(calendarEvent)"
				on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
				cell-is-open="vm.cellIsOpen"
				day-view-start="06:00"
				day-view-end="22:59"
				day-view-split="30"
				cell-modifier="vm.modifyCell(calendarCell)"
				cell-auto-open-disabled="true"
				on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
		</mwl-calendar>
		<br><br><br>
	</div>
</div>