<div data-ng-controller="bookedMoveController as vm" ng-init="init()" style="margin-bottom: 100px" bs-loading-overlay>
	<div class="row" st-table="moves" st-pipe="callServer" ng-hide="isCalendar">
      	<div class="col-xs-12">
			<h2>Booked Moves</h2>
			<a ng-click="changeView()">{{bookedMovesView}}</a>
			<div id="itemsPerPageDropdownDiv" class="btn-group pull-right" uib-dropdown is-open="status.isopen">
					<button id="itemsPerPageDropdown" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">{{itemsByPage}} <span class="caret"></span></button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="itemsPerPageDropdown" ng-model="itemsByPage">
					      <li role="menuitem" ng-click="selectItem(10)"><a href="">10</a></li>
					      <li role="menuitem" ng-click="selectItem(25)"><a href="">25</a></li>
					      <!--<li role="menuitem" ng-click="selectItem(50)"><a href="" disabled>50</a></li>-->
						<!--<li role="menuitem" ng-click="selectItem(100)"><a href="" disabled>100</a></li>-->
					</ul>
				</div>			
			<div class="col-md-4 pull-right ">
				<div class="form-group has-feedback">
					<input st-search="globalSearch" placeholder="Search this table..." class="input-sm form-control" type="search"/>
		    		<span class="glyphicon glyphicon-search form-control-feedback"></span>
				</div>
			</div>
			<table id="no-more-tables" class="table table-striped">
				<thead>
					<tr>
						<th>Customer Name</th>
						<th st-sort="moveStart">Date Of Move</th>
						<th>Status</th>
						<th st-sort="dateOfBooking" st-sort-default="reverse">Date Booked</th>
						<th>Assigned Movers</th>
						<th>Actions</th>
					</tr>
					<tr>
						<th></th>
						<th></th>
						<th>
							<select class="form-control" st-search="statusSearch" st-input-event="change">
								<option value="">All</option>
								<option value="unconfirmed user">Unconfirmed User</option>
								<option value="unconfirmed move">Unconfirmed Move</option>
								<option value="confirmed move">Confirmed Move</option>
								<option value="closed">Closed</option>
							</select>
						</th>
						<th></th>
						<th>
							<select name="assignedUsersSelectBox" class="form-control" multiple="multiple" id="multiselect" st-search="userSearch" st-delay=0 ng-model="userSearch" st-input-event="change">
								<option ng-repeat="user in usersInAssignedLocations" value="{{ user.id }}">
									{{ user.fullName }}
								</option>
							</select>
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody ng-hide="isLoading">
					<tr ng-repeat="move in tableMoves">
						<td data-title="Customer Name">{{move.title}}</td>
						<td data-title="Date Of Move">{{move.startsAt | date:'MM/dd/yyyy'}}</td>
						<td data-title="Status">{{move.status}}</td>
						<td data-title="Date Of Booking">{{move.dateOfBooking | date:'MM/dd/yyyy'}}</td>
						<td data-title="Assigned Movers" width="20%">{{move.assignedUsersString}}</td>
						<td data-title="Edit Move"><a type="button" class="btn btn-primary" href="/#/editMove/{{move.id}}">Edit</a></td>
					</tr>
				</tbody>
				<tbody ng-show="isLoading">
					<tr>
						<td colspan="5" class="text-center">
							<div class="loading-indicator">
								<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
							</div>
						</td>
					</tr>
				</tbody>
				<tbody ng-show="isError">
					<tr>
						<td colspan="5" class="text-center">
							<div class="loading-indicator">
								<i class="fa fa-exclamation" aria-hidden="true"></i>
								<strong> Error Loading Data.  Please Refresh the Page.</strong>
							</div>
						</td>
					</tr>
				</tbody>
				<tbody ng-show="noResultsFound">
					<tr>
						<td colspan="5" class="text-center">
							<i class="fa fa-exclamation" aria-hidden="true"></i>
							<strong> No Results Found.  Please Refine Search.</strong>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5" class="text-center">
							<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<div ng-show="isCalendar">
		<h2>Booked Moves</h2>
		<div class="row">
			<div class="col-xs-8">
				<a ng-click="changeView()">{{bookedMovesView}}</a>
			</div>
			<div class="col-xs-4">
				<button type="button" class="btn btn-primary pull-right" style="margin-right:15px;" data-toggle="modal" data-target="#addMove" access="admin">Add Move</button>
			</div>
		</div>
		<h2 class="text-center">{{ vm.calendarTitle }}</h2>

		<div class="row">

			<div class="col-md-6 text-center">
				<div class="btn-group">

					<button
							class="btn btn-primary"
							mwl-date-modifier
							date="vm.viewDate"
							decrement="vm.calendarView"
							ng-click="vm.cellIsOpen = false;calenderViewChange();">
						Previous
					</button>
					<button
							class="btn btn-default"
							mwl-date-modifier
							date="vm.viewDate"
							set-to-today
							ng-click="vm.cellIsOpen = false;calenderViewChange();">
						Today
					</button>
					<button
							class="btn btn-primary"
							mwl-date-modifier
							date="vm.viewDate"
							increment="vm.calendarView"
							ng-click="vm.cellIsOpen = false;calenderViewChange();">
						Next
					</button>
				</div>
			</div>

			<br class="visible-xs visible-sm">

			<div class="col-md-6 text-center">
				<div class="btn-group">
					<label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
					<label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
					<label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
					<label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label>
				</div>
			</div>

		</div>

		<br>

		<mwl-calendar
				events="events"
				view="vm.calendarView"
				view-title="vm.calendarTitle"
				view-date="vm.viewDate"
				on-event-click="vm.eventClicked(calendarEvent)"
				on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
				cell-is-open="vm.cellIsOpen"
				day-view-start="06:00"
				day-view-end="22:59"
				day-view-split="30"
				cell-modifier="vm.modifyCell(calendarCell)"
				cell-auto-open-disabled="true"
				on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
		</mwl-calendar>
		<br><br><br>
		<div class="modal fade" id="addMove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="vertical-alignment-helper">
				<div class="modal-dialog vertical-align-center">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span>
								<span class="sr-only">Close</span>
							</button>
							<h3 class="modal-title" id="myModalLabel">
								Add Move
							</h3>
						</div>
						<form id="newMoveForm" name="newMoveForm">
							<div class="modal-body">
								<div class="row">
									<div class="col-xs-6">
										<label for="firstName">First Name</label>
										<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="text" id="firstName" ng-model="newMove.firstName" class="form-control" ng-bind-html="trustAsHtml(newMove.firstName)" required></input>
										<span style="color:red" ng-show="newMoveForm.firstName.$dirty && newMoveForm.firstName.$invalid">First Name Required</span>
									</div>
									<div class="col-xs-6">
										<label for="lastName">Last Name</label>
										<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="text" id="lastName" ng-model="newMove.lastName" class="form-control" ng-bind-html="trustAsHtml(newMove.lastName)" required></input>
										<span style="color:red" ng-show="newMoveForm.lastName.$dirty && newMoveForm.lastName.$invalid">Last Name Required</span>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6">
										<label for="email">Email</label>
										<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="email" id="email" ng-model="newMove.email" class="form-control" ng-bind-html="trustAsHtml(newMove.email)" required></input>
										<span style="color:red" ng-show="newMoveForm.email.$dirty && newMoveForm.email.$invalid">A valid email required</span>
									</div>
									<div class="col-xs-6">
										<label for="phone">Phone</label>
										<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="tel" class="form-control" maxlength="14" ng-minlength="14" id="phone" name="phone" ng-model="newMove.phone" numbers-only phone-input>
										<span style="color:red" ng-show="newMoveForm.phone.$dirty && newMoveForm.phone.$invalid">A valid phone number is required</span>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6 col-sm-6">
										<label>Date Of Move</label>
										<p class="input-group">
											<input  value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="text" class="form-control" datetime-picker="MM/dd/yyyy HH:mm" ng-model="startsAtPicker.date" is-open="startsAtPicker.open"  min-date="minDate" />
											<span class="input-group-btn">
												<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'startsAtPicker')"><i class="fa fa-calendar"></i></button>
						  					</span>
										</p>
									</div>
									<div class="col-xs-6 col-sm-6">
										<label for="type">Type</label>
										<select class="form-control" id="type" name="type" ng-model="newMove.type"  ng-init="newMove.type='withTruck'">
											<option value="withTruck">Crew with truck</option>
											<option value="onlyCrew">Crew only</option>
											<option value="packing">Packing and unpacking</option>
										</select>
									</div>
								</div>
								<br><h4><b>From Address:</b></h4>
								<section id="from" name="from" style="padding: 0px 0px !important;">
									<div class="row">
										<div class="col-xs-6">
											<label class="control-label" for="fromStreet">Street<span class="required" style="color:red">*</span></label>
											<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="text" class="form-control" id="fromStreet" name="fromStreet" ng-model="newMove.fromStreet" ng-required="true" autocomplete="section-from street-address">
											<span style="color:red" ng-show="newMoveForm.fromStreet.$touched && newMoveForm.fromStreet.$invalid">Street address is required</span>
										</div>
										<div class="col-xs-6">
											<label class="control-label" for="fromCity">City<span class="required" style="color:red">*</span></label>
											<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="text" class="form-control" id="fromCity" name="fromCity" ng-model="newMove.fromCity" ng-required="true" autocomplete="section-from locality">
											<span style="color:red" ng-show="newMoveForm.fromCity.$touched && newMoveForm.fromCity.$invalid">City is required</span>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-6">
											<label class="control-label" for="fromZip">Zip Code<span class="required" style="color:red">*</span></label>
											<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>"type="number" maxlength="5" ng-minlength="5" class="form-control" name="fromZip" id="fromZip" ng-model="newMove.fromZip" numbers-only ng-required="true" autocomplete="section-from postal-code">
											<span style="color:red" ng-show="newMoveForm.fromZip.$touched && newMoveForm.fromZip.$invalid">A valid Zip Code is required</span>
										</div>
										<div class="col-xs-6">
											<label class="control-label" for="fromState">State<span class="required" style="color:red">*</span></label>
											<select class="form-control" id="fromState" name="fromState" ng-model="newMove.fromState" ng-required="true" required ng-init="newMove.fromState='MN'" autocomplete="section-from region">
												<!--<option value="IA">Iowa</option>-->
												<option value="MN">Minnesota</option>
												<!--<option value="MT">Montana</option>-->
												<!--<option value="WI">Wisconsin</option>-->
											</select>
											<span style="color:red" ng-show="newMoveForm.fromState.$touched && newMoveForm.fromState.$error.required">Please select a state</span>
										</div>
									</div>
								</section>
								<br><h4><b>To Address:</b></h4>
								<section id="to" name="to" style="padding: 0px 0px !important;">
									<div class="row">
										<div class="col-xs-6">
											<label class="control-label" for="toStreet">Street</label>
											<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="text" class="form-control" id="toStreet" name="toStreet" ng-model="newMove.toStreet" autocomplete="section-to street-address">
										</div>
										<div class="col-xs-6">
											<label class="control-label" for="toCity">City</label>
											<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="text" class="form-control" id="toCity" name="toCity" ng-model="newMove.toCity" autocomplete="section-to locality">
										</div>
									</div>
									<div class="row">
										<div class="col-xs-6">
											<label class="control-label" for="toZip">Zip Code</label>
											<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>"type="number" maxlength="5" ng-minlength="5" class="form-control" id="toZip" name="toZip" ng-model="newMove.toZip" numbers-only autocomplete="section-to postal-code">
										</div>
										<div class="col-xs-6">
											<label class="control-label" for="toState">State</label>
											<select class="form-control" id="toState" name="toState" name="toState" ng-model="newMove.toState" ng-init="newMove.toState='MN'" autocomplete="section-to region" >
												<!--<option value="IA">Iowa</option>-->
												<option value="MN">Minnesota</option>
												<!--<option value="MT">Montana</option>-->
												<!--<option value="WI">Wisconsin</option>-->
											</select>
										</div>
									</div>
								</section>
								<div class="row">
									<div class="col-xs-12">
										<label class="control-label" for="comment">Additional Comments</label>
										<textarea rows="4" class="form-control" id="comment" name="comment" ng-model="newMove.comment"><%= <b>Encode.forHtmlContent(UNTRUSTED)</b> %></textarea>
									</div>
								</div>
							</div>
							<!-- Modal footer -->
							<div class="modal-footer">
								<div class="row">
									<div class="col-xs-12">
										<button class="btn btn-lg btn-primary pull-right" style="margin-right: 15px" ng-click="addMove()" data-dismiss="modal" ng-disabled="newMoveForm.$invalid">Add Move</button>
										<button class="btn btn-lg btn-danger pull-left" style="margin-left: 15px" data-dismiss="modal">Cancel</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>