<div style="margin-top:100px;margin-bottom:45px">
    <img src="img/background-11-1920x561.jpg">
    <!-- Page Content -->
    <div class="container">
	<div data-ng-controller="bookMoveController">
          <div class="shell" id="bootstrap" id="moveInfo">
            <h1>Book a move</h1><h3>Fill out the following information to get started</h3>
            <hr>
            <form class="form-horizontal" role="form" name="bookingForm" id="bookingForm">
            	<div class="row">
            		<div class="col-xs-6">
					<label class="control-label" for="firstName" >First Name<span class="required" style="color:red">*</span></label>
					<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="text" class="form-control" id="firstName" name="firstName" ng-model="moveData.firstName" ng-minlength="2" ng-required="true">
					<span style="color:red" ng-show="bookingForm.firstName.$touched && bookingForm.firstName.$invalid">First name is required</span>
				 </div>
				 <div class="col-xs-6">
				  	<label class="control-label" for="lastName">Last Name<span class="required" style="color:red">*</span></label>
					<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="text" class="form-control" id="lastName" name="lastName" ng-model="moveData.lastName" ng-minlength="2" ng-required="true">
					<span style="color:red" ng-show="bookingForm.lastName.$touched && bookingForm.lastName.$invalid">Last name is required</span>
				</div>
            	</div>
            	<div class="row">
            		<div class="col-xs-6">
					<label class="control-label" for="email">Email<span class="required" style="color:red">*</span></label>
					<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="email" class="form-control" id="email" name="email" ng-model="moveData.email" data-error="Invalid Email Address" ng-required="true">
					<span style="color:red" ng-show="bookingForm.email.$touched && bookingForm.email.$invalid">A valid Email is required</span>
				 </div>
				 <div class="col-xs-6">
				  	<label class="control-label" for="phone">Phone Number<span class="required" style="color:red">*</span></label>
					<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="tel" class="form-control" maxlength="10" ng-minlength="10" id="phone" name="phone" ng-model="moveData.phone" numbers-only ng-required="true">
					<span style="color:red" ng-show="bookingForm.phone.$touched && bookingForm.phone.$invalid">A valid phone number is required</span>
				</div>
            	</div>
			    <div class="row" ng-controller="DatepickerPopupDemoCtrl">
			        <div class='col-sm-6'>
			        	<label class="control-label" for="date">Date of Move<span class="required" style="color:red">*</span></label>
			          	<p class="input-group">
						<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="text" class="form-control" maxlength="10" ng-minlength="10" id="dateOfMove" name="dateOfMove" ng-model="moveData.dateOfMove" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" class="form-control" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
			            <span style="color:red" ng-show="bookingForm.dateOfMove.$touched && bookingForm.dateOfMove.$invalid">Date of move is not valid</span>
			        </div>
			    </div>
            	<br><h4><b>From Address:</b></h4>
            	<div class="row">
            		<div class="col-xs-6">
					<label class="control-label" for="fromStreet">Street<span class="required" style="color:red">*</span></label>
					<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="text" class="form-control" id="fromStreet" name="fromStreet" ng-model="moveData.fromStreet" ng-required="true">
					<span style="color:red" ng-show="bookingForm.fromStreet.$touched && bookingForm.fromStreet.$invalid">Street address is required</span>
				 </div>
				 <div class="col-xs-6">
				  	<label class="control-label" for="fromCity">City<span class="required" style="color:red">*</span></label>
					<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="text" class="form-control" id="fromCity" name="fromCity" ng-model="moveData.fromCity" ng-required="true">
					<span style="color:red" ng-show="bookingForm.fromCity.$touched && bookingForm.fromCity.$invalid">City is required</span>
				</div>
            	</div>
            	<div class="row">
            		<div class="col-xs-6">
					<label class="control-label" for="fromZip">Zip Code<span class="required" style="color:red">*</span></label>
					<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="text" maxlength="5" ng-minlength="5" class="form-control" name="fromZip" id="fromZip" ng-model="moveData.fromZip" numbers-only ng-required="true">
					<span style="color:red" ng-show="bookingForm.fromZip.$touched && bookingForm.fromZip.$invalid">A valid Zip Code is required</span>
				 </div>
				 <div class="col-xs-6">
				  	<label class="control-label" for="state">State<span class="required" style="color:red">*</span></label>
					<select class="form-control" id="fromState" name="fromState" ng-model="moveData.fromState" ng-required="true" required>
						<option value="AK" ng-disabled="true">Alaska</option>
						<option value="AL" ng-disabled="true">Alabama</option>
						<option value="AR" ng-disabled="true">Arkansas</option>
						<option value="AZ" ng-disabled="true">Arizona</option>
						<option value="CA" ng-disabled="true">California</option>
						<option value="CO" ng-disabled="true">Colorado</option>
						<option value="CT" ng-disabled="true">Connecticut</option>
						<option value="DC" ng-disabled="true">District of Columbia</option>
						<option value="DE" ng-disabled="true">Delaware</option>
						<option value="FL" ng-disabled="true">Florida</option>
						<option value="GA" ng-disabled="true">Georgia</option>
						<option value="HI" ng-disabled="true">Hawaii</option>
						<option value="IA">Iowa</option>
						<option value="ID" ng-disabled="true">Idaho</option>
						<option value="IL" ng-disabled="true">Illinois</option>
						<option value="IN" ng-disabled="true">Indiana</option>
						<option value="KS" ng-disabled="true">Kansas</option>
						<option value="KY" ng-disabled="true">Kentucky</option>
						<option value="LA" ng-disabled="true">Louisiana</option>
						<option value="MA" ng-disabled="true">Massachusetts</option>
						<option value="MD" ng-disabled="true">Maryland</option>
						<option value="ME" ng-disabled="true">Maine</option>
						<option value="MI" ng-disabled="true">Michigan</option>
						<option value="MN" selected>Minnesota</option>
						<option value="MO" ng-disabled="true">Missouri</option>
						<option value="MS" ng-disabled="true">Mississippi</option>
						<option value="MT">Montana</option>
						<option value="NC" ng-disabled="true">North Carolina</option>
						<option value="ND" ng-disabled="true">North Dakota</option>
						<option value="NE" ng-disabled="true">Nebraska</option>
						<option value="NH" ng-disabled="true">New Hampshire</option>
						<option value="NJ" ng-disabled="true">New Jersey</option>
						<option value="NM" ng-disabled="true">New Mexico</option>
						<option value="NV" ng-disabled="true">Nevada</option>
						<option value="NY" ng-disabled="true">New York</option>
						<option value="OH" ng-disabled="true">Ohio</option>
						<option value="OK" ng-disabled="true">Oklahoma</option>
						<option value="OR" ng-disabled="true">Oregon</option>
						<option value="PA" ng-disabled="true">Pennsylvania</option>
						<option value="RI" ng-disabled="true">Rhode Island</option>
						<option value="SC" ng-disabled="true">South Carolina</option>
						<option value="SD" ng-disabled="true">South Dakota</option>
						<option value="TN" ng-disabled="true">Tennessee</option>
						<option value="TX" ng-disabled="true">Texas</option>
						<option value="UT" ng-disabled="true">Utah</option>
						<option value="VA" ng-disabled="true">Virginia</option>
						<option value="VT" ng-disabled="true">Vermont</option>
						<option value="WA" ng-disabled="true">Washington</option>
						<option value="WI">Wisconsin</option>
						<option value="WV" ng-disabled="true">West Virginia</option>
						<option value="WY" ng-disabled="true">Wyoming</option>
					</select>
					<span style="color:red" ng-show="bookingForm.fromState.$touched && bookingForm.fromState.$error.required">Please select a state</span>
				</div>
            	</div>
            	<br><h4><b>To Address:</b></h4>
            	<div class="row">
            		<div class="col-xs-6">
					<label class="control-label" for="toStreet">Street<span class="required" style="color:red">*</span></label>
					<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="text" class="form-control" id="toStreet" name="toStreet" ng-model="moveData.toStreet" ng-required="true">
					<span style="color:red" ng-show="bookingForm.toStreet.$touched && bookingForm.toStreet.$invalid">Street address is required</span>
				 </div>
				 <div class="col-xs-6">
				  	<label class="control-label" for="toCity">City<span class="required" style="color:red">*</span></label>
					<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="text" class="form-control" id="toCity" name="toCity" ng-model="moveData.toCity" ng-required="true">
					<span style="color:red" ng-show="bookingForm.toCity.$touched && bookingForm.toCity.$invalid">City is required</span>
				</div>
            	</div>
            	<div class="row">
            		<div class="col-xs-6">
					<label class="control-label" for="toZip">Zip Code<span class="required" style="color:red">*</span></label>
					<input value="<%= <b>Encode.forHtmlAttribute(UNTRUSTED)</b> %>" type="text" maxlength="5" ng-minlength="5" class="form-control" id="toZip" name="toZip" ng-model="moveData.toZip" numbers-only ng-required="true">
					<span style="color:red" ng-show="bookingForm.toZip.$touched && bookingForm.toZip.$invalid">A valid Zip Code is required</span>
				 </div>
				 <div class="col-xs-6">
				  	<label class="control-label" for="state">State<span class="required" style="color:red">*</span></label>
					<select class="form-control" id="toState" name="toState" name="toState" ng-model="moveData.toState" ng-required="true" required>
						<option value="AK">Alaska</option>
						<option value="AL">Alabama</option>
						<option value="AR">Arkansas</option>
						<option value="AZ">Arizona</option>
						<option value="CA">California</option>
						<option value="CO">Colorado</option>
						<option value="CT">Connecticut</option>
						<option value="DC">District of Columbia</option>
						<option value="DE">Delaware</option>
						<option value="FL">Florida</option>
						<option value="GA">Georgia</option>
						<option value="HI">Hawaii</option>
						<option value="IA">Iowa</option>
						<option value="ID">Idaho</option>
						<option value="IL">Illinois</option>
						<option value="IN">Indiana</option>
						<option value="KS">Kansas</option>
						<option value="KY">Kentucky</option>
						<option value="LA">Louisiana</option>
						<option value="MA">Massachusetts</option>
						<option value="MD">Maryland</option>
						<option value="ME">Maine</option>
						<option value="MI">Michigan</option>
						<option value="MN" selected>Minnesota</option>
						<option value="MO">Missouri</option>
						<option value="MS">Mississippi</option>
						<option value="MT">Montana</option>
						<option value="NC">North Carolina</option>
						<option value="ND">North Dakota</option>
						<option value="NE">Nebraska</option>
						<option value="NH">New Hampshire</option>
						<option value="NJ">New Jersey</option>
						<option value="NM">New Mexico</option>
						<option value="NV">Nevada</option>
						<option value="NY">New York</option>
						<option value="OH">Ohio</option>
						<option value="OK">Oklahoma</option>
						<option value="OR">Oregon</option>
						<option value="PA">Pennsylvania</option>
						<option value="RI">Rhode Island</option>
						<option value="SC">South Carolina</option>
						<option value="SD">South Dakota</option>
						<option value="TN">Tennessee</option>
						<option value="TX">Texas</option>
						<option value="UT">Utah</option>
						<option value="VA">Virginia</option>
						<option value="VT">Vermont</option>
						<option value="WA">Washington</option>
						<option value="WI">Wisconsin</option>
						<option value="WV">West Virginia</option>
						<option value="WY">Wyoming</option>
					</select>
					<span style="color:red" ng-show="bookingForm.toState.$touched && bookingForm.toState.$error.required">Please select a state</span>
				</div>
            	</div>
            	<div class="row">
            		<div class="col-xs-12">
					<label class="control-label" for="comments">Additional Comments</label>
					<textarea rows="4" class="form-control" id="comment" name="comment" ng-model="moveData.comment"><%= <b>Encode.forHtmlContent(UNTRUSTED)</b> %></textarea>
				 </div>
            	</div>
            	<div class="row">
	            	<div class="col-xs-3"></div>
	            	<div class="col-xs-3"></div>
	            	<div class="col-xs-3"></div>
	            	<div class="col-xs-3">
	            		<button class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#checkout" style="margin-top: 15px" ng-disabled="
	            		bookingForm.firstName.$invalid || bookingForm.lastName.$invalid || bookingForm.email.$invalid || 
	            		bookingForm.phone.$invalid || bookingForm.fromStreet.$invalid || bookingForm.fromCity.$invalid || 
	            		bookingForm.fromState.$invalid || bookingForm.fromZip.$invalid || bookingForm.toStreet.$invalid || 
	            		bookingForm.toCity.$invalid && bookingForm.toState.$invalid || bookingForm.toZip.$invalid">Proceed to Billing Information</button>
	            	</div>
            </div>
		</form>
            <div class="row">
            	<div class="col-xs-12"><span style="color: red"><i class="glyphicon glyphicon-asterisk"></i> We require a deposit of $1 dollar to reserve a booking appointment</span></div>
            </div>
          </div>
		   <div class="modal fade" id="checkout" tabindex="-1" role="dialog" 
		     aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <!-- Modal Header -->
		            <div class="modal-header">
		                <button type="button" class="close" 
		                   data-dismiss="modal">
		                       <span aria-hidden="true">&times;</span>
		                       <span class="sr-only">Close</span>
		                </button>
		                <h3 class="modal-title" id="myModalLabel">
		                    Billing Information
		                </h3>
		            </div>
		            
		            <!-- Modal Body -->
		            <div class="modal-body">
		               <form method="post" id="payment-form">
		                	<div class="form-group">
		                    <label class="control-label" for="name">Name</label>
		                      <input class="form-control"
		                      id="card-name" placeholder="Jane Doe" ng-model="$parent.stripe.name" name="name"/>
		                  </div>
		                   <div class="form-row">
					    <label class="control-label" for="card-element">
					      Credit or debit card
					    </label>
					    <div id="card-element">
					      <!-- a Stripe Element will be inserted here. -->
					    </div>
					
					    <!-- Used to display form errors -->
					    <div id="card-errors"></div>
					  </div>
					<div class="row" style="margin-top: 15px">
						<div class="col-xs-4"></div>
						<div class="col-xs-4"></div>
						<div class="col-xs-4">
							<button type="submit" class="btn btn-info btn-block" data-dismiss="modal" ng-click="submit()">Submit</button>
		                		</div>
		                	</div>
		                </form>   
		            </div>
		            
		            <!-- Modal Footer -->
		            <div class="modal-footer">
			            
			            	<div class="col-cs-12 col-centered">
			            		<p class="centered text-center">- Powered by <a href="https://stripe.com/" target="_blank">Stripe.com</a> -</p>
			            	</div>
			            </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
</div>