<div class="panel panel-default">
	<div class="panel-heading"><label>Charges</label></div>
	<div class="panel-body">
		<div style="overflow-y:scroll; overflow-x:hidden; max-height:400px">
			<div ng-hide="isCharges">
				<center><p>No Charges</p></center>
			</div>
			<table id="notesTable" class="table table-striped" ng-show="isCharges">
				<thead>
					<tr>
						<th>Move ID</th>
						<th>Date</th>
						<th>Type</th>
						<th>Amount</th>
						<th class="text-right" ng-hide="isUser || isProfile">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="charge in charges">
						<td>{{charge.moveid}}</td>
						<td>{{charge.date | date:'MM/dd/yyyy h:mm a'}}</td>
						<td>{{charge.type}}</td>
						<td>{{charge.amount}}</td>
						<td><button class="btn btn-danger pull-right" ng-click="setChargeId(charge.id, charge.amount)" data-toggle="modal" data-target="#refund" ng-hide="isUser || charge.type == 'Refund' || isProfile">Refund</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>