
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  height: 100vh;
  min-height: 650px;
  background-image: url("../img/moving.jpg");
  background-position: center center;
  background-size: cover;
}

header.masthead-small {
  height: 100vh;
  background-image: url("../img/moving-small2.jpg");
  background-size:cover;
  background-position: right;
  position: relative;
  top: 0;
}

header.masthead:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
 }

 header.masthead-small:before{
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     background: rgba(0,0,0,0.6);
  }

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.lower-header {
    position: relative;
    float: left;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-divider {
    border-color: #fff;
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
}

.profile {
    position: relative;
    margin:0px;
    padding-right:5px;
}

.desk-hide {
    display: none !important;
 }
 .desk-show {
    display: block !important;
 }

@media screen and (max-width: 460px) {

 .img-max {
   width: 100% !important;
   max-width: 100% !important;
   height: auto !important;
 }

 .max-width {
   max-width: 100% !important;
 }

 .mobile-wrapper {
   width: 85% !important;
   max-width: 85% !important;
 }

 .mobile-padding {
   padding-left: 5% !important;
   padding-right: 5% !important;
 }

 /* USE THESE CLASSES TO HIDE CONTENT ON MOBILE */
 .mobile-hide {
    display: none !important;
 }
 .mobile-show {
    display: block !important;
 }

  .intro-text .name {
     padding-top:80px;
  }
}

@media (min-width: 460px) {
  .navbar-custom .navbar-brand {
    padding-top:33px;
  }

  .navbar-custom .navbar-toggle {
    margin-top: 25px;
  }

  .navbar-custom .navbar-nav li a {
    margin-top: 19px;
  }
}

@media (max-width: 600px) {
    .navbar-custom {
        position: absolute !important;
    }
}

#services {
 padding-top:50px;
}

#about {
 padding-top:50px;
}