
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  height: 100vh;
  min-height: 650px;
  background-image: url("../img/moving.webp");
  background-position: center center;
  background-size: cover;
}

.masthead:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.lower-header {
    position: relative;
    float: left;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
}
