  .st-sort-ascent:before {
    content: '\25B2';
  }

  .st-sort-descent:before {
    content: '\25BC';
  }
  
 th[st-sort]:not(.st-sort-ascent):not(.st-sort-descent):before {
    font-family: FontAwesome;
    content: '\f0dc';
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}

img.center {
    display: block;
    margin: 0 auto;
}

.labl > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.labl > input + div{ /* DIV STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
.labl > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-color: #ffd6bb;
    border: 1px solid #ff6600;
}

html,body{ margin:0; padding:0; height:100%; width:100%; }

.profile-pic-users-table {
    max-height:40px;
    max-width:40px;
}

@media (max-width: 1000px) {
    .profile-pic-mobile {
        max-height:50px;
        max-width:50px;
        margin-left:10px;
    }

    .profile-pic-mobile-div {
       float: left;
       width: 60px;
    }

    .mobile-header-text {
       margin-left: 10px;
    }

    .profile-pic {
        display: none !important;
    }

    .profile-pic-row {
        display: none !important;
    }

    .profile-pic-row2 {
        display: none !important;
    }

    .header-text {
        padding-top:15px;
    }
}

@media (min-width: 1001px) {
    .profile-pic-mobile {
        display: none !important;
    }

    .profile-pic {
        max-height:170px;
        max-width:170px;
        position: absolute;
        margin-left:5%;
        margin-top: 10px;
    }

    .profile-pic-row {
        position: absolute;
        margin-top:200px;
        margin-left:10px;
    }

    .profile-pic-row2 {
        position: absolute;
        margin-top:230px;
        margin-left:10px;
    }
}

@media (max-width: 460px) {
    .container-margins {
        margin-top:50px;
        margin-bottom:45px
    }

}

@media (min-width: 461px) {
    .container-margins {
        margin-top:80px;
        margin-bottom:45px
    }
}

.howitworks {
    height: 330px;
    width: 500px;
}

.howitworks-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-color: #2C3E50;
}

.howitworks-text-div {
    display: table;
    height: 313.33px;
}

@media only screen and (max-width: 1200px) {
    .howitworks {
        display: none !important;
    }
}

@media only screen and (max-width: 575px) {

	/* Force table to not be like tables anymore */
	#no-more-tables table,
	#no-more-tables thead,
	#no-more-tables tbody,
	#no-more-tables th,
	#no-more-tables td,
	#no-more-tables tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#no-more-tables tr { border: 1px solid #ccc; }

	#no-more-tables td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align:left;
	}

	#no-more-tables td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}