  .st-sort-ascent:before {
    content: '\25B2';
  }

  .st-sort-descent:before {
    content: '\25BC';
  }
  
 th[st-sort]:not(.st-sort-ascent):not(.st-sort-descent):before {
    font-family: FontAwesome;
    content: '\f0dc';
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}

img.center {
    display: block;
    margin: 0 auto;
}

.labl > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.labl > input + div{ /* DIV STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
.labl > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-color: #ffd6bb;
    border: 1px solid #ff6600;
}

html,body{ margin:0; padding:0; height:100%; width:100%; }

.profile-pic-users-table {
    max-height:40px;
    max-width:40px;
}

@media (max-width: 1000px) {
    .profile-pic-mobile {
        max-height:50px;
        max-width:50px;
        margin-left:10px;
    }

    .profile-pic-mobile-div {
       float: left;
       width: 60px;
    }

    .mobile-header-text {
       margin-left: 10px;
    }

    .profile-pic {
        display: none !important;
    }

    .profile-pic-row {
        display: none !important;
    }

    .profile-pic-row2 {
        display: none !important;
    }

    .header-text {
        padding-top:15px;
    }
}

@media (min-width: 1001px) {
    .profile-pic-mobile {
        display: none !important;
    }

    .profile-pic {
        max-height:170px;
        max-width:170px;
        position: absolute;
        margin-left:5%;
        margin-top: 10px;
    }

    .profile-pic-row {
        position: absolute;
        margin-top:200px;
        margin-left:10px;
    }

    .profile-pic-row2 {
        position: absolute;
        margin-top:230px;
        margin-left:10px;
    }
}

@media (max-width: 460px) {
    .container-margins {
        margin-top:50px;
        margin-bottom:45px
    }
}

@media (min-width: 461px) {
    .container-margins {
        margin-top:80px;
        margin-bottom:45px
    }
}