  .st-sort-ascent:before {
    content: '\25B2';
  }

  .st-sort-descent:before {
    content: '\25BC';
  }
  
 th[st-sort]:not(.st-sort-ascent):not(.st-sort-descent):before {
    font-family: FontAwesome;
    content: '\f0dc';
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}

img.center {
    display: block;
    margin: 0 auto;
}